*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

#botao {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff2600;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#botao:hover {
  background-color: #ff4737;
}
